/*=================== MAIN CSS ==============================*/

@import url('//fonts.googleapis.com/css?family=Open+Sans');
@import url('//fonts.googleapis.com/css?family=Share+Tech');
@import url('//fonts.googleapis.com/css?family=Audiowide|Open+Sans|Raleway:300');
html, body {
  /*font-family: 'Share Tech', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: black;
  background: black;
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}
img {
  height: 100%;
  width: 100% !important;
}
nav {
  background: #2c3e50 !important;
  text-decoration: none !important;
}
.dropdown-content a{
  color: black !important;
  text-decoration: none !important;
}

footer {
  text-align: center;
  background-color: #2c3e50 !important;
  padding: 10vh 0 0 0 !important;
}

.AK {
  font-family: "Audiowide", sans-serif;
  text-decoration: underline;
  color: #7A52CC !important;
}

.AK span {
  color: #FF0000 !important;
}
a:hover {
  text-decoration: none !important;
}

.Hero {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  text-align: center;
  font-size: 32px;
}
.Title {
  top: 20vh;
  font-size: 32px;
  background: white !important;
  color: black !important;
}
.Spacer {
  background: #2c3e50;
  padding: 9vh 0;
  text-align: center;
}

.Content {
  background-color: #f5f5f5;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh 5vw !important;
  background: #f5f5f5;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh 10vw;
}
.w6{width:45vw}
.off6{margin-left:50vw}

.Text {
  position: relative;
  padding: 10px;
  min-width: 0;
  margin: 0 1vw;
  background: #f5f5f5;
  border-radius: 1px;
  box-shadow: 1px 1px 2px black;
}
.TextBox {
  padding: 20vh 0 !important;
}

.Text h1 {
  font-size: 24px;
  margin: 10px 0;
}


.card-image {
  height: 50vh;
  width: 40vw;
}
.uk-card {
  height: 120vh !important;
}
.uk-card-media-top {
  height: 80vh !important;
}
.modal {
  height: 100vh !important;
}

/* Water Animation */

.water-container {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.water-waves {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.water-waves svg {
  position: absolute;
}

#water1 {
  -webkit-animation: shake1 14s infinite;
  -moz-animation: shake1 14s infinite;
  animation: shake1 14s infinite;
  opacity: 0.4;
  margin-left: -2000px;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

#water2 {
  -webkit-animation: shake2 19s infinite;
  -moz-animation: shake2 19s infinite;
  animation: shake2 19s infinite;
  opacity: 0.3;
  margin-left: -2000px;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

#water3 {
  -webkit-animation: shake1 17s infinite;
  -moz-animation: shake1 17s infinite;
  animation: shake1 17s infinite;
  opacity: 0.2;
  margin-left: -2000px;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes shake1 {
  0% {
    transform: translateX(-0px);
  }
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shake2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

#turbine {
    width: 70%;
    height: auto;
    position: absolute;
    left: 0%;
    top: 20px;
    z-index: 99;
}

.turbine {
    width: 100%;
    height: auto;
}



.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
}


/* Mobile Screens */
@media only screen and (max-width: 760px) {
  .Text {
    top: 10vh;
  }
  .card-image {
    width: 0 !important;
    height: 0 !important;
  }
}


/*==============   HOME PAGE  ============== */

.HomeHero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),
  url('https://image.freepik.com/free-vector/abstract-dark-blue-polygonal-background_1035-9700.jpg');
  padding: 38vh 0;
  color: white;
}

/*============== Cost hero ==================*/
.CostHero {
  background-image: url('http://www.sciencemag.org/sites/default/files/styles/article_main_large/public/AI-special-ghp.jpg?itok=y6JAP5Co');
  color: white;
}



/*==============   ABOUT US PAGE  ============== */
.UsHero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),
  url('http://files.cluster2.hgsitebuilder.com/hostgator42104/image/aboutus.jpg');
  color: white;
}

/*============  BENEFITS PAGE ==================*/


.BeneHero {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/003/358/467/large/jesslyn-giovanni-underwater-research-facility-portfolio.jpg?1472815367');
}



/*=============    CONC PAGE ===================*/
.ConcHero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),
  url('http://betheme.muffingroupsc.netdna-cdn.com/be/underwater/wp-content/uploads/2016/05/home_underwater_sectionbg2.jpg');
  color: white;
}

/*==============   USES PAGE  ============== */

.UsesHero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.yourstory.com/wp-content/uploads/2015/05/Yourstory_AI.jpg');
}


/* full width/height container */

#slides-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* double the height/width of a viewport */

#slides {
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0;
  left: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}


/* Slide 2 goes to the bottom left */

#slide-2 {
  background: white no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}


/* Slide 3 goes to the bottom right */

#slide-3 {
  background: blue no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
}


/* Slide 4 goes to the top right */

#slide-4 {
  background: red no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
}

#slide-2 #footBox {
  position: relative;
  top: 100%;
}

.caption {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
  color: #fff;
}

p, h1 {
  margin: 0;
}

h1 {
  margin-bottom: 0.2em;
}

p {
  line-height: 1.333em;
}

#slide-3 .caption {
  left: 5%;
  right: auto;
  color: #47373f;
}

#slide-4 .caption {
  right: auto;
  left: 5%;
  top: 5%;
  bottom: auto;
  color: #47373f;
}

#helper {
  position: absolute;
  left: 0;
  top: 0;
  height: 600%;
  width: 0;
}

.marker {
  height: 25%;
  width: 100%;
}
